<div class="summary-card-wrapper">
	<div class="summary-card">
		<div class="thumbnail"><a href="[post_url]"><img width="150" height="150" src="[thumbnail_url]" class="attachment-thumbnail size-thumbnail" alt="[alt_text]" decoding="async" loading="lazy"></a></div>
		<div class="title"><a href="[post_url]">[title]</a></div>
		<div class="conference_details"><a href="[conference_url]">[conference]</a></div>
    <div class="volume details"><span>[volume]</span></div>
    <div class="categories details"><span><a href="[category_url]">[category]</a></span>
			<span><a href="[proceeding_url]">[proceeding]</a></span>
		</div>
	</div>
</div>


<div class="short summary-card-wrapper">
	<div class="summary-card">
		<div class="thumbnail">

			<a href="[item_url]" class="hasimg" title="Inventory-Image-Not-Available">
        <img decoding="async" loading="lazy" width="150" height="150" src="[thumbnail_url]" class="attachment-thumbnail size-thumbnail" alt="[alt_text]">
      </a>
		</div>
		<div class="title">
			<a href="[item_url]">[title]</a>
		</div>
		<div class="conference details">
			<a href="[conference_url]">[conference_title]</a>
		</div>
		<div class="conference details">
			[quantity]
		</div>
		<div class="categories details">
		</div>
	</div>
</div>
