    <section id="ui-section" data-page="1" data-filter="none" style="width: 100%">
      <div id="toolbar" style="display: flex; flex-direction: row; border-bottom: 1px solid #bbbbbb; margin-top: 15px; padding-bottom: 3px;">
        <div id="filter" style="width: 30px">[filter]</div>
        <div class="simpui-form-group" style="margin-left: 4px; width: 300px; height: 30px;">[search]</div>
        <div id="spacing" style="flex: grow;"></div>
        <div id="spinner-layout" style="width: 28px; height: 28px; margin-left: auto; margin-right: 6px;"><div id="spinner" class="loader"></div></div>
        <div id="results-per-page" style="width: 100px; margin-left: 0px; margin-right: 0px;">[result_per_page]</div>
        <div id="display" style="width: auto; margin-left: 6px; margin-right: 0px;">[display_buttons]</div>
      </div>
